/* MEDIA QUERIES TO HANDLE MULTIPLE SCREEN SIZES
--------------------------------------------------------------- */

/* Smaller Screens */
@media screen and (max-width: 1000px) {
	.main-section {
		height: 100%;
	}
}

@media screen and (max-width: 500px) {
  .main-section {
    height: 100%;
  }

  .main-section p.lead {
    width: 100%;
  }

  .main-section h1.name-header {
    display: none;
  }

  .main-section div.mobile-name-header {
    display: inline-block;
    height: auto;
  }

}


/* IPhone 6 Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}