/* MEDIA QUERIES TO HANDLE MULTIPLE SCREEN SIZES
--------------------------------------------------------------- */

/* Smaller Screens */
@media screen and (max-width: 1000px) {
	.main-section {
		height: 100%;
	}
}


/* IPhone 6 Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	.main-section {
  		height: 60%;
  	}

  	.main-section {
  		padding-top: 250px;
  	}
}