/* GLOBAL STYLES, FONT IMPORTS
------------------------------------------------------------ */ 
html {
	padding: 0;
	margin: 0 auto;
	height: 100%;
	/* font-family: */
}

body {
	height: 100%;
}

div {
	height: 100%;
}

ul {
	list-style-type: none;
}

button {
	font-family: 'Abel', sans-serif;
	background-color: transparent;
	border: 1px solid white;
	padding: 10px 30px 10px 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 20px;
}

button:hover {
	/* add animation here */
	text-decoration: underline;
	border: 2px solid white;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* MAIN PAGE SECTION STYLES 
------------------------------------------------------------ */ 

.main-section {
	color: black;
	background-color: white;
	/* background-image: url("../assets/images/particle-background.png"); */
	height: 100%;
	width: 100%;
	text-align: left;
}

.main-section canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.main-section div.container-fluid {
	padding-top: 12%;
	padding-left: 10%;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 100;
}

.main-section div.mobile-name-header {
	display: none;
}

.main-section h1 {
	font-size: 3rem;
	font-weight: thin;
}

.main-section p.lead {
	font-family: 'Lato', sans-serif;
	width: 55%;
}

.icon-label {
	display: flex;
	height: auto;
}

.icon-label i {
	margin-right: 10px;
}

.icon-label p {
	padding-top: 0.4%; 
	transition: all 0.5s ease;
	text-decoration: none;
}

.blue {
	color: #226CE0;
}

/* ICON LABEL HOVER ANIMATIONS
------------------------------------------------------------ */
.icon-label:hover {
	cursor: pointer;
	color: #226CE0;
}

.icon-label:hover > p {
	text-decoration: underline;
	color: #226CE0; 
}



/* MAIN PAGE FOOTER STYLES 
------------------------------------------------------------ */ 

footer {     
	font-family: 'Abel', sans-serif;
	padding-top: 3%;
	text-align: center;
}

footer li {
	margin-bottom: 10px;
}

footer p {
	display: inline;
	margin-left: 5px;
}

footer div {
	margin-bottom: 10px;
}

.contact-icons *:hover {
	cursor: pointer;
	opacity: 0.5;
}

.contact-icons * {
	color: black;
}

.contact-icons div:nth-child(1) {
	margin-left: auto;
}

.contact-icons div:nth-child(4) {
	margin-right: auto;
}

.contact-icons p {
	text-align: left;
}

.contact-icons p:hover {
	text-decoration: underline;
}







